<?xml version="1.0"?>
<launch>
  <arg name="mov_filename" default="$(env HOME)/vid.mov" doc="Location of mov_file"/>

  <include file="$(find serdp_player)/launch/serdp_player.launch">
    <arg name="mov_filename" value="$(arg mov_filename)" />
 </include>


 <arg name="mov_ROS_name" default="mov_to_bag" doc="Serdp_player name"/>
 <arg name="bag_filename" default="$(env HOME)/out.bag" doc="Location to save output bagfile"/>
  <node name="mov_to_bag" pkg="serdp_recorder_ros" type="$(arg mov_ROS_name)">
    <param name="save_bag_location" type="string" value="$(arg bag_filename)" />
  </node>
</launch>
